.aboutTeam {
    background: url("/public/Images/team-hero.png") no-repeat;
    background-size: cover;
    background-position-y: 70%;
    background-position-x: center;
    padding: 20vh 5vw;
}

.aboutTeam > h1 {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.04rem;
    margin-bottom: 3vh;
    color: var(--accent-color);
}

.teamcards {
    display: flex;
    gap: 5vw;
}

@media screen and (max-width: 768px) {
    .aboutTeam {
        padding: 10vh 5vw;
    }
    .aboutTeam > h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .teamcards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10vh;
    }
}

.careerForm {
    background-color: var(--background-color);
    transition: 0.3s;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 10vh 10vw;
}

.careerForm h1 {
    font-family: "Gilroy";
    font-size: 3rem;
}

.careerForm p {
    font-family: "TT Norms Pro";
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5vh;
}

.form {
    width: 60vw;
    font-family: "TT Norms Pro";
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.form label {
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.formfield {
    color: black;
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a4a1a1;
    background-color: transparent;
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.3s;
    width: calc(30vw - 10px);
}

.form input:focus-visible,
.form textarea:focus-visible {
    border: 1px solid var(--primary-color);
    box-shadow: none;
    outline: none;
}

.form input::placeholder {
    color: #a4a1a1;
}

.form button {
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    font-size: 1rem;
}

.form textarea {
    width: 60vw;
    resize: vertical;
    font-family: "TT Norms Pro";
    height: 10vh;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid #a4a1a1;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}

.form input,
.form textarea {
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .form input,
    .form textarea {
        width: 90vw;
    }
}
